<footer>
    <div  class="indigo lighten-5 card" style="width:100%;height:300px;top:100%">
        <div class="left  indigo lighten-1 card" style="height:75%;width:25%;top:20%;left:3.5%">
            <div class="left card-content white-text"> 
                <div class="row">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1216.8094203215815!2d3.711941904862849!3d43.50073254719811!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b14b7d4a1b0a61%3A0x2495cfc926f0eccc!2sMairie!5e0!3m2!1sfr!2sfr!4v1568880664800!5m2!1sfr!2sfr" style="width:100%" frameborder="0" style="border:0;" allowfullscreen="" class="left"></iframe>
                </div>
                <span class="card-title" style="font-size:1vw;">1 Rue Hôtel de ville, 34770 Gigean</span>
            </div>
        </div>

        <div class="left white card" style="height:75%;width:25%;top:20%;left:7%">
            <div class="left card-content center">
                <div class="row center">
                    <img src="../../phone-icon-transparent-background-8.jpg.png" style="width:25%;" class="responsive-img">
                </div>
                <div class="row">
                <span class="card-title"></span><a href="tel:0467466464" style="color:black">TEL : 04 67 46 64 64</a></span>
                </div>
                <a class="waves-effect waves-light btn" style="background-color: #3f51b5" href="tel:0467466464">Call</a>
            </div>
        </div>
        <div class="left indigo lighten-1 card" style="height:75%;width:35%;top:20%;left:10.5%">
            <div class="left card-content white-text"> 
                <div class="row">
                    <form action="https://getform.io/f/68297681-a4b5-431a-a20f-0d6e9d709c2a" method="POST" accept-charset="UTF-8">
                        <div class="input-field col s4">
                            <span style="font-size:0.9vw">Your Email :</span><br>
                            <input type="email" name="email" class="white-text"><br>
                            <span style="font-size:0.9vw">Subject :</span><br>
                            <input type="text" name="subject" class="white-text">
                        
                        </div>
                        <div class="input-field col s4">
                            <textarea id="textarea1" class="materialize-textarea white-text"></textarea>
                            <label for="textarea1" class="white-text" style="font-size:0.9vw">Your message</label>
                        </div>
                        <div class="input-field col s4">
                            <button class="btn waves-effect waves-light white indigo-text" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</footer>