<ul id = "dropdown" class = "dropdown-content indigo lighten-1">
    <li ><a  style= "text-decoration: none; color: white;" href="{{ .Site.BaseURL }}/events">All Events</a></li>
    <li><a style= "text-decoration: none; color: white;" href ="{{ .Site.BaseURL }}/events">Upcoming Events</a></li>
    <li><a style= "text-decoration: none; color: white;" href="{{ .Site.BaseURL }}/events">Archived Events</a></li>
    <li class = "divider"></li>
    <li class="indigo"><a style= "text-decoration: none; color: white;"href = "{{ .Site.BaseURL }}/calendar">Calendar</a></li>
</ul>
<nav>
    <div class="nav-wrapper indigo lighten-1">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="{{ .Site.BaseURL }}" style="font-size: 1vw;">Home</a></li>
            <li><a href="{{ .Site.BaseURL }}/conseil-municipal/" style="font-size: 1vw;">Municipal council</a></li>
            <li><a href="{{ .Site.BaseURL }}/associations/" style="font-size: 1vw;">Associations</a></li>
            <li><a href="#" class="dropdown-button" data-activates="dropdown" style="font-size: 1vw;">Events<i class =" material-icons right">expand_more</i></a></li>
        </ul>
    </div>
</nav>




